[Unit]
Description=Crypto Price API - Binance Spot WebSocket to Redis
After=network.target redis.service

[Service]
Type=simple
WorkingDirectory=/root/code/app/crypto-price-api
EnvironmentFile=/root/code/app/crypto-price-api/.env
ExecStart=/usr/local/share/pyenv/versions/3.12.4/bin/python3 main.py
Restart=always
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
